/*
font-family: 'Roboto-Black';
font-family: 'Roboto-Bold';
font-family: 'Roboto-Light';
font-family: 'Roboto-Medium';
font-family: 'Roboto-Regular';
font-family: 'Roboto-Thin';

Color:
Black: #0a0706;
Gray: #dedede;
Dark Gray: #cac9c9;
Light Gray: #f0f0f0;
BG Gray: #fafdfa;
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css');

@font-face {font-family: 'Roboto-Black';src: url('../fonts/roboto-black.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-black.woff') format('woff'), url('../fonts/roboto-black.ttf') format('truetype'), url('../fonts/roboto-black.svg#Roboto-Black') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Roboto-Bold';src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold.ttf') format('truetype'), url('../fonts/roboto-bold.svg#Roboto-Bold') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Roboto-Light';src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light.woff') format('woff'), url('../fonts/roboto-light.ttf') format('truetype'), url('../fonts/roboto-light.svg#Roboto-Light') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Roboto-Medium';src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium.woff') format('woff'), url('../fonts/roboto-medium.ttf') format('truetype'), url('../fonts/roboto-medium.svg#Roboto-Medium') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Roboto-Regular';src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf') format('truetype'), url('../fonts/roboto-regular.svg#Roboto-Regular') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Roboto-Thin';src: url('../fonts/roboto-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thin.woff') format('woff'), url('../fonts/roboto-thin.ttf') format('truetype'), url('../fonts/roboto-thin.svg#Roboto-Thin') format('svg');font-weight: normal;font-style: normal;}

html, body {font-family: 'Roboto-Light';font-size: 20px;line-height: 1.7;height: 100%;}
.mCSB_scrollTools {width: 0.25rem;z-index: 99;}
.mCSB_inside>.mCSB_container {margin: 0;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {background-color: #f0f0f0;border: .05rem solid #f0f0f0;}
.mCSB_scrollTools .mCSB_dragger:focus .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {background-color: #0a0706;border-color: #0a0706;}

/* Header Style */
* {background-position: center;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;}
*:focus, *:hover {border-color: inherit;-webkit-box-shadow: none;box-shadow: none;outline: none;}
p {margin: 0;}
p + p, p + ul, ul + p {margin-top: 1.75rem;}
p a {color: #407fc5;}
p a:focus, p a:hover {color: #0a0706;}
p + h2 {margin-top: 1.75rem;}
a {text-decoration: none;-webkit-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
a:focus, a:hover {text-decoration: none;-webkit-box-shadow: none;box-shadow: none;outline: none;}
input, select, textarea {-webkit-appearance: none;-moz-appearance: none;appearance: none;resize: none;}
select::-ms-expand {display: none;}
ul {list-style: none;margin: 0;padding: 0;}
section {background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;z-index: 1;}
section::before {bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
img {max-width: 100%;}
::-webkit-input-placeholder {color: #777;}
::-moz-placeholder {color: #777;}
:-ms-input-placeholder {color: #777;}
:-moz-placeholder {color: #777;}
h1, h2 {text-transform: uppercase;}
h1 {color: #fff;font-family: 'Roboto-Bold';font-size: 3.8rem;letter-spacing: .1rem;}
h2 {font-family: 'Roboto-Regular';font-size: 1.75rem;margin-bottom: 1.75rem;}
h2 span {font-family: 'Roboto-Bold';}
header {position: relative;z-index: 99;}
.headerContainer {display: table;padding: .5rem 0;table-layout: auto;width: 100%;}
.logoContainer img {max-width: 13.25rem;width: 100%;}
.headerContainer > div {display: table-cell;vertical-align: middle;}
.logoContainer {width: 24.65%;}
.navContainer {padding-left: .75rem;text-align: right;width: 74.35%;}
.headerContainer li {display: inline-block;position: relative;}
.headerContainer a {color: #282828;}

.sectionPadd {padding: 4.25rem 0;}
.bgGray {background-color: #fafafa;}
.bgBlack {background-color: #0a0706;color: #fff;}
.customRow {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;margin: 0 -15px;}
.customRow > div[class*='CustomCol'] {padding-left: 15px;padding-right: 15px;position: relative;}
.CustomCol3 {width: 33.33%;}
.CustomCol4 {width: 25%;}
.CustomCol5 {width: 20%;}

/* Top Nav Style */
.topNav > ul > li {display: inline-block;vertical-align: middle;}
.topNav > ul > li + li {margin-left: 4rem;}
.topNav > ul > li > a {color: #0a0706;}
.topNav > ul > li > a:focus, .topNav > ul > li > a:hover {color: #7d7e7e;}

/* Main Nav Style */
.topNav {padding-bottom: 0.75rem;}
.mainNav {border-top: .05rem solid #e5e5e5;font-family: 'Roboto-Regular';font-size: 1rem;font-weight: normal;letter-spacing: .03em;}
.menu-item {border-bottom: .05rem solid transparent;text-transform: uppercase;}
.mainNav nav > ul > li + li {margin-left: 1.25rem;}	
.mainNav nav > ul > li a {box-shadow: inset 0px 0 0px #f0f0f0;display: inline-block;padding: 1rem;}
.mainNav nav > ul > li.current-menu-item > a, .mainNav nav > ul > li:focus > a, .mainNav nav > ul > li:hover > a {box-shadow: inset 0px 4rem 0px #f0f0f0;}

/* Footer Style */
.mainfooter {font-family: 'Roboto-Regular';font-size: 1.1rem;padding: 1.5rem 0;position: relative;text-align: center;}
.mainfooter, .mainfooter a {color: #0a0706;}
.mainfooter a:focus, .mainfooter a:hover {color: #7d7e7e;}
.mainfooter::before, .mainfooter::after {background-image: url(../images/tree.png);background-repeat: no-repeat;-ms-background-position-x: left;background-position-x: left;-ms-background-position-y: bottom;background-position-y: bottom;-webkit-background-size: auto 20rem;background-size: auto 20rem;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
.mainfooter::after {-ms-background-position-x: right;background-position-x: right;}
.FooterlogoContainer img {max-width: 13.25rem;width: 100%;}
.footerNav {border: 0 solid #e6e6e6;border-width: 1px 0px 1px 0px;margin: 2rem 0rem;}
.footerNav li {display: inline-block;}
.footerNav li + li {margin-left: 3rem}
.footerNav li a {box-shadow: inset 0px 0px 0px #f0f0f0;display: block;padding: 1rem;}
.footerNav li a:focus, .footerNav li a:hover {box-shadow: inset 0px -4rem 0px #f0f0f0;}
.svgContainer {line-height: 1.4;}
.mainfooter svg {margin-bottom: .75rem;max-width: 6rem;}
.copyRight {padding: 1rem 0rem 1.25rem;}
.copyRight, .copyRight a {color: #5d5d5d;font-size: .8rem;}
.copyRight a:focus, .copyRight a:hover {color: #fff;}
.copyRight li {display: inline-block;vertical-align: middle;}
.copyRight li + li {margin-left: .75rem}
.copyRight svg {display: block;height: 1.25rem;fill: #fff;-webkit-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
.copyRight a:focus svg, .copyRight a:hover svg {fill: #5d5d5d;}

/* Banner Style */
.bannerContainer {display: table;height: 36rem;table-layout: auto;text-align: center;width: 100%;}
.bannerWrapper {color: #fff;display: table-cell;position: relative;vertical-align: middle;z-index: 1;}
.bannerWrapper::before {background-color: rgba(0, 0, 0, .2);bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
.bannerWrapper h2 {display: inline-block;font-family: 'Roboto-Light';font-size: 3rem;letter-spacing: 1.5rem;margin-right: -2rem;}

/* Inner Pages Banner Style */
.innerBanner .bannerContainer {height: 19rem;}
.innerBanner .bannerWrapper::before {display: none;}

/* Home Page Style */
.home, .index {text-align: center;}
.OutdoorLiving {position: relative;z-index: 1;}
.OutdoorLiving::after {background-image: url(../images/tree.png);background-position: right bottom;background-repeat: no-repeat;background-size: auto 22rem;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
.OutdoorLiving .innerContent {background-color: #fff;border: .15rem solid #dedede;margin-top: .6rem;padding: 0rem 2.3rem 2.3rem;}
.OutdoorLiving .innerContent h2 {background-color: #fff;display: inline-block;margin-bottom: 0;padding: 0px 2.25rem;position: relative;top: -1.15rem;}
#ourrecentwork figure {padding-bottom: 100%;}
.owl-dots {display: block;margin-top: 1.15rem;}
.owl-dots .owl-dot {background-color: #cac9c9;border: .1rem solid #fff;border-radius: 50%;display: inline-block;height: .9rem;width: .9rem;}
.owl-dots .owl-dot + .owl-dot {margin-left: .5rem;}
.owl-dots .owl-dot.active {background-color: #fff;border-color: #cac9c9;}
#BeforeAfter {padding: 0rem 6rem;position: relative;}
.BeforeAfterWrapper {padding-bottom: 40%;position: relative;}
.BeforeAfterWrapper .figureCOntainer {bottom: 0;position: absolute;top: 0;width: 50%;}
.beforeContainer {left: 0;right: 50%;}
.afterContainer {left: 50%;right: 0;}
.BeforeAfterSection::after {background-image: url(../images/tree.png);background-position: -12rem bottom;background-repeat: no-repeat;background-size: auto 85%;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
#BeforeAfter .owl-nav {height: 100%;left: 0;position: absolute;right: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
#BeforeAfter .owl-nav > div {-ms-align-items: center;align-content: center;background-color: #f0f0f0;bottom: 2.25rem;color: #0a0706;display: -webkit-box;display: -ms-flexbox;display: flex;font-family: 'Roboto-Regular';font-size: .9rem;flex-wrap: wrap;justify-content: center;position: absolute;text-transform: uppercase;-webkit-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;transition: all .25s ease-in-out;top: 2.25rem;width: 6rem;}
#BeforeAfter .owl-nav .owl-prev {left: 0;}
#BeforeAfter .owl-nav .owl-next {right: 0;}
#BeforeAfter .owl-nav span {display: block !important;width: 100%;}
#BeforeAfter .owl-nav i {color: #b3b3b3;display: block;font-size: 5rem;line-height: 0.55;margin-top: 1rem;-webkit-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}
#BeforeAfter .owl-nav > div:focus, #BeforeAfter .owl-nav > div:hover {background-color: #0a0706;color: #fff;}
#BeforeAfter .owl-nav > div:focus i, #BeforeAfter .owl-nav > div:hover i {color: #fff;}
.home h3 {font-family: 'Roboto-Bold';font-size: 5.75rem;text-transform: uppercase;}
.home h3 span {display: block;font-size: 3.5rem;}
.tipsScetion {font-size: 1.25rem;text-align: left;}
.tipsScetion .innerContent {padding-left: 3.75rem;}
.viewTips {-ms-align-items: center;align-items: center;border: 1px solid #fff;color: #fff;display: -webkit-box;display: -moz-flexbox;display: -ms-flex;display: flex;font-family: 'Roboto-Regular';font-size: 1rem;height: 3.25rem;justify-content: center;margin-top: 2.5rem;width: 13.5rem;}
.viewTips:focus, .viewTips:hover {background-color: #fff;color: #0a0706;}

/* Inner Pages Style */
.innerPage h2:first-child {margin-top: -.5rem;}
.innerPage h2 {font-family: 'Roboto-Regular';font-size: 1.5rem;margin-bottom: .5rem;padding-bottom: 1rem;position: relative;}
.innerPage h2:after {background-color: #ccc;bottom: 0;content: "";display: block;height: .2rem;left: 0;position: absolute;width: 2.75em;}
.innerPage ul li {background-image: url(../images/li.png);background-repeat: no-repeat;background-position: left center;-webkit-background-size: 1rem;background-size: 1rem;padding: .25rem .25rem .25rem 2rem;}
.innerPage ul li + li {margin-top: .25rem;}

/* About Us Page */
.aboutInnerContainer {display: table;table-layout: auto;width: 100%;}
.aboutInnerContainer > div {display: table-cell;vertical-align: top;}
.aboutCon {padding-right: 60px;}
.aboutImg {color: #fff;font-style: italic;letter-spacing: 0.04rem;width: 40.3%;}
.aboutImg figure {height: 0;padding-bottom: 100%;position: relative;z-index: 1;}
.aboutImg figure::before {background-color: rgba(0, 0, 0, 0);bottom: 0;content: '';left: 0;position: absolute;right: 0;top: 0;z-index: -1;}
.aboutImg figure p {bottom: 0;position: absolute;padding: 10px 25px;left: 0;}
.aboutImg figure p span {display: block;}

/* Thank You Page */
.thankyou-cover { position: relative; }
.thankyou-cover .tick { border: solid .1rem #16bb16; border-radius: 100%; color: #16bb16; display: block; font-size: 3.25rem; height: 8rem; line-height: 8rem; margin: 0 auto 3.5rem; text-align: center; width: 8rem; }
.thankyou-cover .thnkyou-message { background-color: #dff0d8; border: .05rem solid #d6e9c6; border-radius: .2rem; color: #3c763d; margin-bottom: 1rem; padding: .75rem; }
.thankyou-cover .thnkyou-message p { font-size: .9rem; margin: 0; }

@media only screen and (min-width: 1500px) {
	.container {max-width: 1470px;}
}
@media only screen and (max-width: 1499px) {
	html, body {font-size: 14px;}
}